@model TravelBlog.Models.People

<html>
<head>
    <title>People - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this person: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.PeopleId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>