@model IEnumerable<TravelBlog.Models.People>

<html>
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Travel Blog People</h2>
    <ul>
        @foreach (var listPerson in Model)
        {
            <li>@Html.DisplayFor(modelPeople => listPerson.Name) | @Html.ActionLink("Details", "Details", new { id = listPerson.PeopleId }) | @Html.ActionLink("Edit", "Edit", new { id = listPerson.PeopleId }) | @Html.ActionLink("Delete", "Delete", new { id = listPerson.PeopleId })</li>

        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>

    <p>@Html.ActionLink("Add person to experience", "Index", "ExperiencesPeoples")</p>
</body>
</html>