@model TravelBlog.Models.Experience

<h2>Edit</h2>
<hr />
<h4>Edit this Experience: @Html.DisplayFor(model => model.Description)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExperienceId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.PlaceId)
    @Html.DropDownList("PlaceId")

    <input type="submit" value="Save" class="btn btn-default" />
}
@Html.ActionLink("Back to List", "Index")