@model IEnumerable<TravelBlog.Models.Experience>

<html>
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Travel Blog Experiences</h2>
    <h4>Experiences</h4>
    <ul>
        @foreach (var listExperience in Model)
        {
            <li>@Html.DisplayFor(modelExperience => listExperience.Description) | @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId }) | @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId }) | @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })</li>

        }
    </ul>
    <p>
    @Html.ActionLink("Create New", "Create")
    </p>

</body>
</html>