@model TravelBlog.Models.Place

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <p><strong>@Html.DisplayNameFor(model => model.City):</strong> @Html.DisplayFor(model => model.City)</p>
     <p><strong>@Html.DisplayNameFor(model => model.Country):</strong> @Html.DisplayFor(model => model.Country)</p>
    <p><strong>@Html.DisplayNameFor(model => model.Description): </strong>@Html.DisplayFor(model => model.Description)</p>
    <p><strong>Experiences</strong></p>
    @foreach (var experience in Model.Experiences)
    {
        <p>@experience.Description</p>

    }

    <p>@Html.ActionLink("Back to Places list", "Index")</p>

</body>
</html>