@model TravelBlog.Models.Place

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City), @Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country);;
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description);

    <p>@Html.ActionLink("Back to Places list", "Index")</p>
</body>
</html>