@model TravelBlog.Models.Place

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Travel Blog - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this place: @Html.DisplayFor(model => model.City)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.PlaceId)

        @Html.LabelFor(model => model.City)
        @Html.EditorFor(model => model.City)

        @Html.LabelFor(model => model.Country)
        @Html.EditorFor(model => model.Country)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>